<h1 class="text-3xl">Precios de los servicios</h1>
<hr class="my-2" />
<section>
  <p class="mb-4">
    Voluptate veniam proident ad eu eiusmod ullamco. Velit non irure consectetur
    commodo exercitation pariatur est ad laboris ex qui. Aliquip ullamco
    occaecat culpa commodo quis irure quis. Velit veniam voluptate non in tempor
    ex velit fugiat adipisicing occaecat voluptate. Fugiat irure amet incididunt
    aute occaecat aute velit minim velit cillum. Nostrud irure qui reprehenderit
    pariatur cillum eu culpa reprehenderit.
  </p>
</section>
